@font-face {
  font-family: 'MyFont';
  src: url('fonts/Robot9000-MVxZx.ttf') format('woff2'); 
  }
  .title h1 {
    font-family: 'MyFont', sans-serif;
  }
  
body, h1, h2, h3, h4, h5, h6, p, ul, ol,li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(255,255,255);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}



  
/* HEADER */

header {
    display: grid;
    grid-area: header;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
  }
  
  main {
    display: grid;
    grid-area: main; 
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
  }
  
  .title img {
    height: auto;
    margin-right: 10px;
  }
  
  .main-bar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .main-bar li {
    display: inline;
    margin-right: 20px;
  }
  
  .main-bar a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .main-bar {
    background-color: #000000;
  }
  
  .main-bar a:hover {
    color: rgb(204, 197, 197);
  }

  .main-bar .active a{
    color: #a1a0a0;
  }


/* MENU */

.categories {  
    justify-content: center;
  }
  
  .grid3 {
    margin:15%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    gap: 20px;
    list-style: none;
    text-align: center;
    margin-right:5%;
    margin-left:5%;    
  }
    
  .grid3 li {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15%;
    border: 2px solid #000000;
    transition: transform 0.2s;
  }
  
  .grid3 li:hover {
    transform: scale(1.05);   
  }
  
  .grid3 li a {
    text-decoration: none;
    color: #847f7f;
  }
  
  .grid3 li img {
    padding: 3%;
  }
  
  .category img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  
  .category a {
    text-decoration: none;
    color: #555;
    font-weight: normal;  
  }
  
  .category a:hover {
    text-decoration: none;
    color: #000000;
  }

  /* FOOTER */

  footer {
    margin-top: 0;
    display: grid;
    grid-area: footer; 
    background-color: #1d1d1d;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
  }
  
  .footer-column {
    flex: 1;
    text-align: left;
    padding: 0 20px;
  }
    
  footer h2 {
    font-size: 18px;
    margin: 10px 0;
  }
    
  footer p {
    font-size: 14px;
    margin: 5px 0;
  }
    
  footer img {
    margin: 5px;
    vertical-align: middle;
  }
  
  .footer-links {
    margin-top: 16%;
    margin-left:17%;
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: max-content; 
    gap: 10% 
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0; 
  }
    
  .footer-links a:hover {
    text-decoration: underline;
  }

  a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    }
    
  a:hover {
    color: rgb(151, 151, 151);
    background-color: transparent;
    text-decoration: underline;
  }
    
  a:active {
    color: rgb(80, 80, 79);
    background-color: transparent;
    text-decoration: underline;
  }

  /* Category Listings */

  .listings {  
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .grid {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    gap: 20px;
    list-style: none;
    padding: 0;
  }

  .grid li {
    list-style: none;
  }

  .grid .listing img {
    width: 50%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 5px;
  }

  .grid .listing .cost {
    margin-top: 3%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0; /* Align the left edge of the .cost element with the left edge of the .listing element */
    right: 0; /* Align the right edge of the .cost element with the right edge of the .listing element */
    text-align: center; /* Center the text within the .cost element */
    align-items: center;
  }
 
  .listing {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 7%;
    position: relative;
  }
  .grid li h5{
    color:#555;
  }


/* Subcategory Listings */

.listings2 {  
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.grid2 {
  margin:15%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
  gap: 20px;
  list-style: none;
  padding: 0;
}

.grid2 li {
  list-style: none;
}

.grid2 .listing2 img {
  margin-top: 5%;
  border-radius: 5px;
}

.grid2 .listing2 .cost {
  margin-top: 3%;
  font-weight: bold;
  font-size: larger;
}

.listing2 {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 7%;
}
.grid2 li h5{
  color:#555;
}

.grid2 .table{
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 5px;
  width: 100%;
  margin: 20px 0;
}

.grid2 th, .grid2 td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.image-container img {
  display: inline;
  margin: 10px;
  border-radius: 10px;
}

  /* Media Queries for Responsive Design */

  html,body{
    overflow-x: hidden;
  }

.grid3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}

form#loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

form#loginForm input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Adjust the width as needed */
}
.form-control {
  position: relative;
}
.form-control input{  /* style each input box for a better border */
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  width: 100%;
}
.form-control i{ /* make the icons invisible for incorrect and correct input */
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 10px;
}

form#loginForm i.fa-exclamation-circle {
  color: red;
  visibility: hidden;
}
form#loginForm i.fa-check-circle {
  color: green;
  visibility: hidden;
}

form#loginForm button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

form#loginForm button:hover {
  background-color: #555;
}

#logout-button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

form#loginForm button:hover {
  background-color: #555;
}

/* Add this CSS to your style.css file or in a style block in your HTML file */
#favorites-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333; /* Green background color */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#favorites-button:hover {
  background-color: #555; /* Darker green on hover */
}






 /* Mobile phones */
  
 @media only screen and (max-width: 600px) {
  body, html {
    width: 100%; 
    margin: 0; 
    padding: 0; 
  }

  header {
    padding: 1rem 0;
  }

  .title, .main-bar {
    width: 100%; 
  }

  .title {
    padding: 0 5%; 
    box-sizing: border-box; 
  }

  .title h1 {
    font-size: 26px;
  }

  .main-bar {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    box-sizing: border-box; 
  }

  .main-bar li {
    display: block;
    margin: 10px 0;
  } 

  .grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 20px;
  }

  .grid2 {
    grid-template-columns: repeat(1, minmax(350px, 2fr));
    margin-right: 15%;
  } 
  .grid2 li img{
    width:fit-content;
  } 

  .footer-container {
    grid-template-columns: 1fr;
  } 

  .footer-links {
    margin-right: 19%;
     
  } 

  .footer-links {
    text-align: center;
    display: block; 
    margin: 10px 0; 
    text-align: center;
  
  } 
  .subcategory-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10%;
  }
  
}

  
  /* tablets */
  
  @media only screen and (min-width:601px) and (max-width: 1200px) {
    .title {
      padding: 0 5%;
    } 
    .grid3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      gap: 20px;
    }
    body {
      grid-template-columns: 1fr; 
      grid-template-areas:
        "header"
        "main"
        "footer";
    } 
    .main{
      grid-area: main;
    } 
    header,
    footer {
      grid-column: span 2; 
    }  
    
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    } 
  
    .footer-links {
      text-align: center;
      display: block;
      margin: 10px 0; 
      text-align: center;
    
    } 
    
  }

  /* desktops */
  @media screen and (min-width: 1201px) {
    .title {
      padding: 0 5%;
    } 
    body {
      grid-template-columns: 200px 1fr 200px; 
      grid-template-areas:
        "header header header"
        "main main main" 
        "footer footer footer";
    } 
    
    
    .main{
      grid-area: main;
    } 
  
    header,
    footer {
      grid-column: span 3;
    } 
    
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    } 
  
    .footer-links {
      text-align: center;
      display: block; 
      margin: 10px 0; 
      text-align: center;
    
    } 
    
  }

/* Add a background image to the button */
.heart {
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  background-color: transparent;
  background-image: url("photos/heart.png");
  background-size: cover; /* Adjust the background size */
  border: none; /* Remove the button border */
  cursor: pointer; /* Add a pointer cursor for interaction */
}

.heart-favorite{
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  background-color: transparent;
  background-size: cover; /* Adjust the background size */
  border: none; /* Remove the button border */
  cursor: pointer; /* Add a pointer cursor for interaction */
  background-image: url("photos/red-heart.png");
}

/* style the subcategories container */

.subcategory-menu {
  display: flex;
  display: inline-block;
  justify-content: center;
  margin-top: 15%;
}

.subcategory-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 10%;
}

.subcategory-label input {
  margin-right: 5px;
}
/*make the main into a grid*/
#main {
  display: grid;
  grid-template-areas:
    "subcategories listings";
  margin-bottom: 20%;
}

#subcategories-container {
  display: grid;
  grid-area: subcategories;
  grid-column: 1;
  grid-row: 2/4;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #e0e0e0;
  font-weight: bold;
  width: 80%; /* Set a fixed width */
  min-height: 100vh;
}


#listings-container {
  display: grid;
  grid-area: listings;
}

#delete-account-button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}